<section id="check" class="newsletter-section transparent" data-type="background" data-parallax="yes" data-speed="50" data-src="/Content/assets/images/newsletter-bg1.jpg">
    <div class="overlay section-padding">
        <div class="container">

            <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">Check out our startup!</h1>
            <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
            <div class="section-description text-center wow fadeInUp padding-50" data-wow-delay="0.5s">
                Realty is business of relationships with customers. One thing when it's a dozen customers,
                and another thing when you have hundreds and thousands customers. Our solution is RoboRealtor
                based Automation realty agency work. It will help you to build effective relationships with your
                clients. We call this a collection With our system you can build a business process, and quickly
                solve the main task of your business - to find a buyer for the seller. 
            </div><!-- /.section-description -->
            <div class="row team-members" style="padding-top: 10px;">
                <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.8s" style="padding-left: 47%;">

                        <a href="http://demo.roborealtor.ru/" class="aw-btn alt text-uppercase">CHECK</a>


                    </div><!-- /.member-profile -->

                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.overlay -->
</section><!-- /#newsletter -->
