<section id="feature3" class="feature-section section-padding">
    <div class="container">
        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">AppsWorld <span>Great Features</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            <div>Nousware offers its customers the best solutions, strict compliance with their requirements,</div>
            <div>integration of their applications, fast development and error-free software.</div>
        </div><!-- /.section-description -->
        <div class="top-padding-80"></div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="feature-items style-3 right-icon list-style small top-padding-20">
                    <div class="item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Unique Design</h3>
                            <div class="description">
                                Phosfluorescently leverage other's frictionless synergy.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="fa fa-folder-open-o"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Fully Flat Layout</h3>
                            <div class="description">
                                Dynamically whiteboard installed base information.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Modern Design</h3>
                            <div class="description">
                                Monotonectally conceptualize high standards.
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.feature-items -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 hidden-sm wow bounceIn" data-wow-delay="0.2s">
                <div class="top-padding-30">
                    <div class="middle-img">
                        <img class="img-responsive" src="/Content/assets/images/application-twin-mockup.png" alt="Application Twin Mocup">
                    </div>
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6">
                <div class="feature-items style-3 left-icon list-style small top-padding-20">
                    <div class="item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">Clean Code</h3>
                            <div class="description">
                                Holisticly customize front-end methodologies before.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">24x7 Support</h3>
                            <div class="description">
                                Dynamically whiteboard installed base information.
                            </div>
                        </div>
                    </div><!-- /.item -->
                    <div class="item wow fadeInUp" data-wow-delay="0.7s">
                        <div class="icon">
                            <i class="fa fa-hand-peace-o"></i>
                        </div>
                        <div class="content">
                            <h3 class="title">User Friendly</h3>
                            <div class="description">
                                Monotonectally conceptualize high standards.
                            </div>
                        </div>
                    </div><!-- /.item -->
                </div><!-- /.feature-items -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#feature -->
