<!-- Logos
 ==============================-->
<section id="logo" class="clients-logo-section" data-background="gray">
    <div class="container">
        <div class="logo-items">
            <div class="item wow fadeInRight" data-wow-delay="0.2s">
                <a href="#">
                    <img src="assets/images/logo/1.png" alt="Logo 1">
                </a>
            </div><!-- /.item -->
            <div class="item wow fadeInRight" data-wow-delay="0.3s">
                <a href="#">
                    <img src="assets/images/logo/2.png" alt="Logo 2">
                </a>
            </div><!-- /.item -->
            <div class="item wow fadeInRight" data-wow-delay="0.4s">
                <a href="#">
                    <img src="assets/images/logo/4.png" alt="Logo 4">
                </a>
            </div><!-- /.item -->
            <div class="item wow fadeInRight" data-wow-delay="0.5s">
                <a href="#">
                    <img src="assets/images/logo/3.png" alt="Logo 3">
                </a>
            </div><!-- /.item -->
        </div><!-- /.logo-items -->
    </div><!-- /.container -->
</section><!-- /#logo -->
