<!-- Pricing
==============================-->
<section id="pricng" class="pricing-section section-padding" data-background="gray">
    <div class="container">
        <h1 class="section-title text-uppercase text-center wow fadeInUp" data-wow-delay="0.2s">Great <span>Pricing Plan</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-diamond"></i></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            Rapidiously monetize state of the art ROI rather than quality
        </div><!-- /.section-description -->
        <div class="row top-padding-80">

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head">
                            <div class="plan-name">
                                Basic
                                <div class="plan-desc">
                                    For Personal Use
                                </div>
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">$</span>
                                39
                                <div class="cycle">
                                    Per Month
                                </div>
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li>
                                    <i class="fa fa-check"></i>
                                    One Website
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    One User
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    100 GB Bandwidth
                                </li>
                                <li class="disable">
                                    <i class="fa fa-check"></i>
                                    2GB Storage
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    24x7 Support
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="#" class="aw-btn alt text-uppercase">Sign Up Now</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="extra-padding">
                    <div class="pricing-plan active">
                        <div class="head">
                            <div class="plan-name">
                                Professional
                                <div class="plan-desc">
                                    For Professional Use
                                </div>
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">$</span>
                                69
                                <div class="cycle">
                                    Per Month
                                </div>
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li>
                                    <i class="fa fa-check"></i>
                                    One Website
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    One User
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    100 GB Bandwidth
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    2GB Storage
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    24x7 Support
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="#" class="aw-btn alt text-uppercase">Sign Up Now</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 wow fadeInUp" data-wow-delay="1.0s">
                <div class="extra-padding">
                    <div class="pricing-plan">
                        <div class="head">
                            <div class="plan-name">
                                Advance
                                <div class="plan-desc">
                                    For Advance Use
                                </div>
                            </div><!-- /.plan-name -->
                            <div class="plan-price">
                                <span class="currency">$</span>
                                99
                                <div class="cycle">
                                    Per Month
                                </div>
                            </div><!-- /.plan-price -->
                        </div><!-- /.head -->
                        <div class="content">
                            <ul class="plan-feature">
                                <li>
                                    <i class="fa fa-check"></i>
                                    One Website
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    One User
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    100 GB Bandwidth
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    2GB Storage
                                </li>
                                <li class="disable">
                                    <i class="fa fa-close"></i>
                                    24x7 Support
                                </li>
                            </ul><!-- /.plan-feature -->
                        </div><!-- /.content -->
                        <div class="footer">
                            <a href="#" class="aw-btn alt text-uppercase">Sign Up Now</a>
                        </div><!-- /.footer -->
                    </div><!-- /.pricing-plan -->
                </div><!-- /.extra-padding -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /#pricng -->
