<!-- Testimonial 2
 ==============================-->
<section id="testimonial2" class="testimonial-section top-padding-100 hidden-sm hidden-xs overflow-hidden">
    <div class="container">

        <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s">What Our <span>Client's Says</span></h1>
        <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-bullseye"></i></div>
        <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim neque aliquid.
        </div><!-- /.section-description -->

        <div class="top-padding-80"></div>
        <div class="overflow-testimonials wow fadeInUp" data-wow-delay="0.8s" data-testimonial="toggler">

            <div class="item">
                <div class="image">
                    <img src="content/assets/images/client.jpg" alt="Client Image">
                </div><!-- /.image -->
                <div class="content">
                    <div class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo at commodi provident assumenda repellat, nihil expedita quae rem iste tenetur eveniet illum! Iste, enim.
                    </div>
                    <div class="info">
                        <span class="name">KH. Rasel</span>
                        <span class="designation">Creative Designer</span>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.item -->
            <div class="item">
                <div class="image">
                    <img src="content/assets/images/client2.jpg" alt="Client Image">
                </div><!-- /.image -->
                <div class="content">
                    <div class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo at commodi provident assumenda repellat, nihil expedita quae rem iste tenetur eveniet illum! Iste, enim.
                    </div>
                    <div class="info">
                        <span class="name">KH. Rasel</span>
                        <span class="designation">Creative Designer</span>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.item -->
            <div class="item">
                <div class="image">
                    <img src="content/assets/images/client3.jpg" alt="Client Image">
                </div><!-- /.image -->
                <div class="content">
                    <div class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo at commodi provident assumenda repellat, nihil expedita quae rem iste tenetur eveniet illum! Iste, enim.
                    </div>
                    <div class="info">
                        <span class="name">KH. Rasel</span>
                        <span class="designation">Creative Designer</span>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.item -->
            <div class="item">
                <div class="image">
                    <img src="content/assets/images/client4.jpg" alt="Client Image">
                </div><!-- /.image -->
                <div class="content">
                    <div class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo at commodi provident assumenda repellat, nihil expedita quae rem iste tenetur eveniet illum! Iste, enim.
                    </div>
                    <div class="info">
                        <span class="name">KH. Rasel</span>
                        <span class="designation">Creative Designer</span>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.item -->
            <div class="item">
                <div class="image">
                    <img src="content/assets/images/client5.jpg" alt="Client Image">
                </div><!-- /.image -->
                <div class="content">
                    <div class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quo at commodi provident assumenda repellat, nihil expedita quae rem iste tenetur eveniet illum! Iste, enim.
                    </div>
                    <div class="info">
                        <span class="name">KH. Rasel</span>
                        <span class="designation">Creative Designer</span>
                    </div>
                </div><!-- /.content -->
            </div><!-- /.item -->
        </div><!-- /.overflow-testimonials -->
    </div><!-- /.container -->
</section><!-- /#testimonial -->
