<div id="preloader">
    <div id="loader">
        <div class="loader-inner ball-scale-multiple"><div></div><div></div><div></div></div>
    </div><!-- /#loader -->
</div><!-- /#preloader -->
<!-- Navigations
==============================-->
<nav id="navigation" class="navigation-style-2">
    <div class="container">
        <div class="nav-header">

            <div id="nav-socials">
                <a href="#facebook"><i class="fa fa-facebook"></i></a>
                <a href="#dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#twitter"><i class="fa fa-twitter"></i></a>
            </div>
            <div id="nav-trigger" class="nav-trigger style-2">
                <a href="#"><i class="fa fa-bars"></i></a>
            </div><!-- /#nav-trigger -->
        </div><!-- /.nav-header -->
        <ul class="site-navigation">
            @*<li><a href="#"><i class="fa fa-home"></i>Home</a></li>*@
            <li><a href="#feature2"><i class="fa fa-user"></i>About</a></li>
            <li><a href="#feature3"><i class="fa fa-download"></i>Features</a></li>
            <li><a href="#newsletter"><i class="fa fa-briefcase"></i>Newsletter</a></li>
            <li><a href="#team"><i class="fa fa-file-image-o"></i>Team</a></li>
            <li><a href="#screenshots"><i class="fa fa-file-image-o"></i>Screenshots</a></li>
            <li><a href="#pricng"><i class="fa fa-file-image-o"></i>Price</a></li>
            <li><a href="#contact"><i class="fa fa-file-image-o"></i>Contacts</a></li>
            @*<li class="has-submenu">
                <a href="#"><i class="fa fa-envelope-o"></i>Contact Us</a>
                <ul class="submenu">
                    <li><a href="#">Sub Item 1</a></li>
                    <li><a href="#">Sub Item 2</a></li>
                    <li><a href="#">Sub Item 3</a></li>
                </ul>
            </li>*@
            <li><a href="#">News</a></li>
        </ul><!-- /.site-navigation -->
    </div><!-- /.container -->
</nav><!-- /#navigation -->
<!-- Banner
==============================-->
<section id="banner" class="banner-section banner-two full-screen transparent" data-type="background" data-parallax="yes" data-src="/Content/assets/images/header-bg.jpg">
    <div class="overlay">
        <div class="container">
            <div class="col-sm-6 banner-middle-content">
                <div class="banner-content">
                <img src="/Content/assets/images/logo/logo.png"> </img>
                    <h2 class="banner-title text-uppercase wow fadeIn" data-wow-delay="0.7s">We Create Awesome Soft and Mobile Apps</h2>
                    <div class="banner-description wow fadeIn" data-wow-delay="1.0s">
                        We take pride in our work and our clients’ needs always come first! Here at AEX Soft, we are committed to providing only high quality services and impeccable customer support. Because our clients are so important to us, we provide daily customer support by phone, email, and by instant messaging systems.
                    </div>
                    <div class="action-buttons wow fadeIn" data-wow-delay="1.3s">
                        <a href="#" class="aw-btn text-uppercase">Learn More</a>
                    </div><!-- /.action-buttons -->
                </div><!-- /.banner-content -->
            </div><!-- /.col-sm-6 -->

        </div><!-- /.container -->
    </div><!-- /.overlay -->
</section><!-- /#banner -->
