<section id="newsletter" class="newsletter-section transparent" data-type="background" data-parallax="yes" data-speed="50" data-src="/Content/assets/images/newsletter-bg.jpg">
    <div class="overlay section-padding">
        <div class="container">
            <h1 class="section-title text-center text-uppercase wow fadeInUp" data-wow-delay="0.2s"><span>Subscribe</span> For Our Newsletter</h1>
            <div class="stripe iconic wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-diamond"></i></div>
            <div class="section-description text-center wow fadeInUp" data-wow-delay="0.5s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim neque aliquid.
            </div><!-- /.section-description -->

            <form class="newsletter-form top-margin-80 aw-mc-ajax-form wow fadeInUp" data-wow-delay="0.8s" action="mcs.php" method="post">
                <input name="action" type="hidden" value="aw_chimp_subscribe">
                <div class="field-inside">
                    <i class="fa fa-envelope-o"></i>
                    <input type="text" name="email" class="email-field" placeholder="Type your email address...">
                    <button type="submit">
                        <span cLass="subscribe-text">Subscribe</span>
                        <span cLass="ajax-loader">
                            <i class="fa-li fa fa-spinner fa-spin"></i>
                        </span>
                    </button>
                </div><!-- /.field-inside -->
                <div class="aw-mc-response"></div><!-- /.aw-mc-response -->
            </form><!-- /.newsletter-form -->
        </div><!-- /.container -->
    </div><!-- /.overlay -->
</section><!-- /#newsletter -->
